{% extends 'base.html.twig' %}
    {% block title %}
        Evenement
    {% endblock %}
{% block content %}
    <div class="page-title-area ptb-100">
        <div class="container">
            <div class="page-title-content">
                <h1>Evenement</h1>
                <ul>
                    <li class="item"><a href="index.html">Home</a></li>
                    <li class="item"><a href=""><i class='bx bx-chevrons-right'></i>Evenement</a></li>
                </ul>
            </div>
        </div>
        <div class="bg-image">
            <img src="{{ asset('img/events.jpg') }}" alt="Demo Image">
        </div>

    </div>
    <div id="home" class="home-banner-area home-style-two" style="padding-top:40px;">
        <div class="container">
            <div class="search-form">
                <div class="col-xs1">
                    <p>Filtrer</p>
                    <form id="filters">
                            <p><input type="checkbox" name="type[]" id="team" value="Team building"> <label for="team">Team building</label></p>
                            <p><input type="checkbox" name="type[]" id="soft" value="Soft Skills"> <label for="soft">Soft Skills</label></p>
                            <p><input type="checkbox" name="type[]" id="conf" value="Conference" > <label for="conf">Conference</label></p>
                            <p><input type="checkbox" name="type[]" id="Sem" value="Seminaire" > <label for="Sem">Seminaire</label></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <section id="top-destination" class="top-destination-section pt-100 pb-70 bg-light" >
        <div class="container" id="content">
            <div class="section-title">
            </div>

            <div class="row" id="content">

                {% include "event/_contentFront.html.twig" %}
            </div>

        </div>
    </section>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('js/filtres.js') }}"></script>
    <script>

        $(document).ready(function() {
            $('.js-like-event').on('click', function(e) {
                e.preventDefault();
                var $link = $(e.currentTarget);
                $link.toggleClass('far fa-heart').toggleClass('fas fa-heart ');
                $.ajax({
                    method: 'POST',
                    url: $link.attr('href')
                }).done(function(data) {
                     $('.js-like-event-count').html(data.hearts);
                    console.log(data.hearts);
                })
            });
        });
    </script>
{% endblock %}
