<form action="{{ path('ajouterReclamation') }}" method="post">
    <input id="objet" type="text" name="objet" placeholder="Objet" required> <br>
    <textarea id="message" name="message" required> </textarea> <br>
    <input type="submit" value="Ajouter">
</form>