<form action="{{ path('ajouterCategorie') }}" method="post">
    <input id="nom" type="text" name="nom" placeholder="Nom" required> <br>
    <input id="type" type="text" name="type" placeholder="Type" required> <br>
    <textarea id="description" name="description" required > </textarea> <br>
    <input type="submit" value="Ajouter">
</form>